<!DOCTYPE html>
<html>
<head>
    <title>To-Do List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'todo/style.css' %}">
</head>
<body>
    <h1>My Tasks</h1>
    <a href="{% url 'task_create' %}">Add New Task</a>
    <ul>
        {% for task in tasks %}
            <li>
                <strong>{{ task.title }}</strong> - {{ task.description }} <br>
                Due: {{ task.due_date }} | Priority: {{ task.get_priority_display }} <br>
                [{{ task.completed|yesno:"Done,Pending" }}]
                <a href="{% url 'task_edit' task.pk %}">Edit</a>
                <a href="{% url 'task_delete' task.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>